<div id="myCarousel" class="carousel container slide">
  <div class="carousel-inner">
    <div class="active item one"></div>
    <div class="item two"></div>
    <div class="item three"></div>
  </div>
</div>
<div class="col-sm-6 col-sm-offset-3">
  <div class="landing well">
    <h1>Welcome to Instaclone</h1>
    <p>The best way to share photos! EVER!!!</p>
    <%= link_to "Login", "/auth/instagram", class: "btn btn-lg btn-primary" %>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('.carousel').carousel({interval: 5000});
  });
</script>
