---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/feed.json?access_token=251122079.4e0d23b.6713691cd7384d7b95b00ed45c4edf85&count=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="251122079.4e0d23b.6713691cd7384d7b95b00ed45c4edf85"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4990'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/self\/feed?access_token=251122079.4e0d23b.6713691cd7384d7b95b00ed45c4edf85\u0026count=100\u0026max_id=1068143869226408738_31569117","next_max_id":"1068143869226408738_31569117"},"meta":{"code":200},"data":[{"attribution":null,"tags":[],"type":"image","location":null,"comments":{"count":7,"data":[{"created_time":"1441945789","text":"\ud83d\udc9b\ud83d\udc9b\ud83d\ude18\ud83d\udc9b\ud83d\udc9b","from":{"username":"lovewildthemission","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/10963935_802845306465087_916154121_a.jpg","id":"1544081197","full_name":"Kolleen
        Harrison"},"id":"1071441400645497253"},{"created_time":"1441946125","text":"Yay!
        \u2764\ufe0f\u2764\ufe0f\u2764\ufe0f","from":{"username":"amywuthrich","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/s150x150\/11325262_138119073187946_224743956_a.jpg","id":"2570200","full_name":"amywuthrich"},"id":"1071444215241585190"},{"created_time":"1441949889","text":"Gorgeous
        ladies \ud83d\ude18","from":{"username":"jennettenielsen","profil[...]
