---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/feed.json?access_token=251122079.4e0d23b.6713691cd7384d7b95b00ed45c4edf85&count=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="251122079.4e0d23b.6713691cd7384d7b95b00ed45c4edf85"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4959'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/self\/feed?access_token=251122079.4e0d23b.6713691cd7384d7b95b00ed45c4edf85\u0026count=100\u0026max_id=1068913580893927018_1775839476","next_max_id":"1068913580893927018_1775839476"},"meta":{"code":200},"data":[{"attribution":null,"tags":[],"type":"image","location":null,"comments":{"count":0,"data":[]},"filter":"Normal","created_time":"1441986446","link":"https:\/\/instagram.com\/p\/7fvHYdxCe8LbsmT8K-f1Jl7-5HCcUss-6UE3o0\/","likes":{"count":1,"data":[{"username":"greenbarrels","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/11324454_1644098715808095_92713307_a.jpg","id":"267832726","full_name":"Tracy
        Steffgen"}]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s320x320\/e35\/11910076_969072696486073_182435124_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s150x150\/e35\/11910076_969072696486073_182435124_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s640x640\/sh0.08\/e35\/11910076_969072696486073_182435124_n.jpg","width":640,"height":640}},"users_in_photo":[{"position":{"y":0.54079115,"x":0.5404072},"user":{"username":"troggshollow","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xap1\/t51.2885-19\/11203275_1405843659739054_974891664_a.jpg","id":"31569117","full_name":"Trogg''s
        Hollow"}}],"caption":{"created_time":"1441986446","text":"Onions and garlic
        and it smells so good in here.","from":{"username":"troggshollowmomma","profile_picture":"http:\/\/photos-g.ak.instagram.com\/hphotos-ak-xpf1\/t51.2885-19\/10919201_1581657525383582_2105136272_a.jpg","id":"1661244360","full_name":"MommaMarcy"},"id":"1071782453758404295"},"user_has_liked":false,"id":"1071782451829024700_1661244360","user":{"username":"troggshollowmomma","profile_picture":"http:\/\/photos-g.ak.instagram.com\/hphotos-ak-xpf1\/t51.2885-19\/10919201_1581657525383582_2105136272_a.jpg","id":"1661244360","full_name":"MommaMarcy"}},{"attribution":null,"tags":[],"type":"image","location":null,"comments":{"count":7,"data":[{"created_time":"1441945789","text":"\ud83d\udc9b\ud83d\udc9b\ud83d\ude18\ud83d\udc9b\ud83d\udc9b","from":{"username":"lovewildthemission","profile_pict[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/search.json?access_token=251122079.4e0d23b.6713691cd7384d7b95b00ed45c4edf85&q=Mike
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="251122079.4e0d23b.6713691cd7384d7b95b00ed45c4edf85"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4958'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":[{"media_count":1834263.0,"name":"mike"},{"media_count":1372056.0,"name":"mikey"},{"media_count":1268224.0,"name":"mikeyway"},{"media_count":958943.0,"name":"mikefuentes"},{"media_count":569716.0,"name":"mikebrown"},{"media_count":429802.0,"name":"mikedirnt"},{"media_count":212934.0,"name":"miketyson"},{"media_count":174182.0,"name":"mikerowave"},{"media_count":164504.0,"name":"mikewazowski"},{"media_count":148985.0,"name":"mikes"},{"media_count":110936.0,"name":"mikeshinoda"},{"media_count":106005.0,"name":"miketrout"},{"media[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/mike/media/recent.json?access_token=251122079.4e0d23b.6713691cd7384d7b95b00ed45c4edf85
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="251122079.4e0d23b.6713691cd7384d7b95b00ed45c4edf85"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4957'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_max_tag_id":"1071782505948904169","deprecation_warning":"next_max_id
        and min_id are deprecated for this endpoint; use min_tag_id and max_tag_id
        instead","next_max_id":"1071782505948904169","next_min_id":"1071794545580255757","min_tag_id":"1071794545580255757","next_url":"https:\/\/api.instagram.com\/v1\/tags\/mike\/media\/recent?access_token=251122079.4e0d23b.6713691cd7384d7b95b00ed45c4edf85\u0026max_tag_id=1071782505948904169"},"meta":{"code":200},"data":[{"attribution":null,"tags":["mickey","dale","mike","\u65e5\u672c\u4ee3\u8cfc","\u6f64\u5507\u818f","toystory","snowwhite","chipndale","aliceinthewonderland","japan","pooh","marie","winniethepooh","donaldduck","\u4e09\u773c\u4ed4","\u65e5\u672c\u8fea\u58eb\u5c3c\u4ee3\u8cfc","\[...]
