<div class="form-group" id="user-search">
  <%= form_tag("/user_search", method: "get") do%>
    <%= label_tag :search, "" %>
    <%= text_field_tag :search, nil, class: 'form-control', placeholder: 'search users' %>
    <%= submit_tag "", class: 'hidden', method: "get" %>
  <% end %>
</div>
